/* styles.css */
@font-face {
  font-family: 'MyCustomFont'; /* A name you choose */
  src: url('fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render-blocking */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "MyCustomFont", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  border-bottom: 2px rgb(226, 225, 222) solid;
  width: 100%;
}

#logo {
  height: 50px;
  margin-bottom: 0px;
}

#sideBar {
  width: 30%;
  height: 100vh;
  background-color: rgba(214, 214, 214, 0.58);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.325);;
}

#projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectBanner {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-top: 50px;
  padding-bottom: 30px;
  cursor: default;
}

ul.projectList {
  list-style-type: none;
  font-size: 2em;
}

li {
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

li:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.325);
}

#projectsImg {
  height: 3em;
}

#addProjectButton {
  width: 80%;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.3s ease;
}

#addProjectButton:hover {
  transform: scale(1.07);

}

#addProjectModal {
  text-align: center;
  padding: 30px;
  margin: auto;
  margin-top: 20%;
  border-radius: 20px;
  border: 1px solid rgb(181, 181, 181);
}

#addProjectModal::backdrop {
  background-color: rgba(0, 0, 0, 0.457);
  backdrop-filter: blur(2px);
}

#projectNameInput {
  width: 80%;
  height: 40px;
  font-size: 1.2em;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 10px;
  text-align: center;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.addButton, .cancelButton {
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.addButton:hover, .cancelButton:hover {
  transform: scale(1.1);
}

#addTaskModal{
  
  text-align: center;
  padding: 30px;
  margin: auto;
  margin-top: 20%;
  border-radius: 20px;
  border: 1px solid rgb(181, 181, 181);

}

#taskContainer {
  width: 100%;
  padding: 20px;
}

#taskHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}

#addTaskButton {
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#addTaskButton:hover {
  transform: scale(1.07);
}


#task {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(200, 200, 200, 0.514);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  margin-top: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}