/* styles.css */
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}

#logo {
  height: 50px;
  background-color: transparent;
}

#addTask {
  height: 30px;
}

#content {
  display: flex;
}

#projectList {
  min-width: 30%;
  min-height: 100vh;
  border-right: 1px solid #ccc;
  padding-left: 5px;
}

#taskList {
  flex-grow: 1;
  min-height: 100vh;
  padding-left: 20px;
}