/* styles.css */
@font-face {
  font-family: 'MyCustomFont'; /* A name you choose */
  src: url('fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render-blocking */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "MyCustomFont", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  border-bottom: 2px rgba(226, 225, 222, 0.572) solid;
  width: 100%;
}

#logo {
  height: 50px;
  margin-bottom: 0px;
}

#sideBar {
  width: 30%;
  height: 100vh;
  background-color: rgba(226, 225, 222, 0.576);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectBanner {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding-top: 50px;
  padding-bottom: 30px;
  cursor: default;
}

ul.projectList {
  list-style-type: none;
  font-size: 2em;
}

li {
  padding: 10px;
  cursor: pointer;
}

#projectsImg {
  height: 3em;
}

#taskContainer {
  width: 100%;
}

#taskHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px
}

#addTaskButton {
  height: 50px;
  cursor: pointer;
}